body{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.container{
    margin:auto;
}

/*COMMON CLASSES */
.primary-text{
    color: #56a79a;
}

.primary-background{
    background: #56a79a;
}

/*HEADER*/

#main-header{
    border-bottom: 1px solid #56a79a;
}